force-app/main/default/flows/RLM_Assetize_Order_DRO_Fulfillment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Assets_from_FOPs</name>
        <label>Create Assets from FOPs</label>
        <locationX>930</locationX>
        <locationY>866</locationY>
        <actionName>createOrUpdateAssetFromOrderItem</actionName>
        <actionType>createOrUpdateAssetFromOrderItem</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orderItemIds</name>
            <value>
                <elementReference>OrderProductIdsToConvert</elementReference>
            </value>
        </inputParameters>
        <nameSegment>createOrUpdateAssetFromOrderItem</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Create_Assets_from_Order_Items</name>
        <label>Create Assets from Order Items</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <actionName>createOrUpdateAssetFromOrderItem</actionName>
        <actionType>createOrUpdateAssetFromOrderItem</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orderItemIds</name>
            <value>
                <elementReference>recordIds</elementReference>
            </value>
        </inputParameters>
        <nameSegment>createOrUpdateAssetFromOrderItem</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Create_Assets_from_Singular_Order_Product</name>
        <label>Create Assets from Singular Order Product</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <actionName>createOrUpdateAssetFromOrderItem</actionName>
        <actionType>createOrUpdateAssetFromOrderItem</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orderItemIds</name>
            <value>
                <elementReference>OrderProductIdsToConvert</elementReference>
            </value>
        </inputParameters>
        <nameSegment>createOrUpdateAssetFromOrderItem</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Create_or_Update_Asset_from_Fulfillment_Order_Product</name>
        <label>Create or Update Asset from Fulfillment Order Product</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <actionName>createOrUpdateAssetFromOrderItem</actionName>
        <actionType>createOrUpdateAssetFromOrderItem</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orderItemIds</name>
            <value>
                <elementReference>OrderProductIdsToConvert</elementReference>
            </value>
        </inputParameters>
        <nameSegment>createOrUpdateAssetFromOrderItem</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Determine_DRO_Source_Type</name>
        <label>Determine DRO Source Type</label>
        <locationX>622</locationX>
        <locationY>134</locationY>
        <actionName>RLM_DetermineDROSourceType</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Source_Data_Type</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordIds</name>
            <value>
                <elementReference>recordIds</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RLM_DetermineDROSourceType</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Add_Order_Id_from_Current_FOP</name>
        <label>Add Order Id from Current FOP</label>
        <locationX>1018</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>OrderProductIdsToConvert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_FOP_Source.SourceLineItemId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_FOPs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Order_Item_Id_from_FOP</name>
        <label>Add Order Item Id from FOP</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>OrderProductIdsToConvert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Source_Relationship.SourceLineItemId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_or_Update_Asset_from_Fulfillment_Order_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Order_Item_Id_to_Collection</name>
        <label>Add Order Item Id to Collection</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>OrderProductIdsToConvert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Assets_from_Singular_Order_Product</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Source_Data_Type</name>
        <label>Check Source Data Type</label>
        <locationX>622</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Order_Item</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Determine_DRO_Source_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OrderItem</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Order_Item_Id_to_Collection</targetReference>
            </connector>
            <label>Is Order Item</label>
        </rules>
        <rules>
            <name>Is_Fulfillment_Order_Item</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Determine_DRO_Source_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FulfillmentOrderLineItem</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Fulfillment_Order_Item</targetReference>
            </connector>
            <label>Is Fulfillment Order Item</label>
        </rules>
        <rules>
            <name>Is_Order_Items_Collection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Determine_DRO_Source_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OrderItems</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Assets_from_Order_Items</targetReference>
            </connector>
            <label>Is Order Items (Collection)</label>
        </rules>
        <rules>
            <name>Is_Fulfillment_Order_Items_Collection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Determine_DRO_Source_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FulfillmentOrderLineItems</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Fulfillment_Order_Items</targetReference>
            </connector>
            <label>Is Fulfillment Order Items (Collection)</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>RLM - Assetize Order - DRO Fulfillment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RLM - Assetize Order - DRO Fulfillment</label>
    <loops>
        <name>Loop_Over_FOPs</name>
        <label>Loop Over FOPs</label>
        <locationX>930</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_Fulfillment_Order_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_FOP_Source</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Assets_from_FOPs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_FOP_Source</name>
        <label>Get FOP Source</label>
        <locationX>1018</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Order_Id_from_Current_FOP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FulfilmentOrderLineId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Over_FOPs.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FulfillmentLineSourceRel</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Fulfillment_Order_Item</name>
        <label>Get Fulfillment Order Item</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Source_Relationship</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FulfillmentOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Fulfillment_Order_Items</name>
        <label>Get Fulfillment Order Items</label>
        <locationX>930</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_FOPs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>recordIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FulfillmentOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Source_Relationship</name>
        <label>Get Source Relationship</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Order_Item_Id_from_FOP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FulfilmentOrderLineId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Fulfillment_Order_Item.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FulfillmentLineSourceRel</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>496</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Determine_DRO_Source_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>OrderProductIdsToConvert</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>planSourceIdentifierId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stepId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
